<div style="width: 200px; height: 200px;">
  <img src="../../assets/ESTRADA MIRANDA_Carlos Rafael_Skype.JPG" alt="Carlos Estrada" style="width:100%">
</div>
<p>Ingénieur en Sciences Informatiques, détenant 6+ années d’expérience en développement de logiciels Web et Windows avec les technologies .NET et bases données SQL Server. 
  Excellente connaissance de la programmation orientée objets, programmation web (backend et frontend) et des meilleures pratiques du codage.	
  Expérience approfondie avec toutes les étapes du cycle de développement de logiciels. 
  Capacité d´analyse, de synthèse, d’apprentissage et s’intégrer facilement dans une équipe du travail. 
  Excellente communication oral et écrite en Français, Anglais et Espagnol.</p>
<hr/>
<a href="https://www.linkedin.com/in/cestradamiranda/">Linkedin</a>
<hr/>
<a href="https://stackoverflow.com/users/5510314/crying-freeman">StackOverflow profile</a>
<hr/>
<a href="">Curriculum</a>
